In [3]:
from sys import displayhook
import pandas as pd

# Transformando arquivo em um dataframe
faturamento_df = pd.read_excel(r'Arquivos\Faturamento2022.xlsx')
# Selecionando primeira linha
cabeçalho = faturamento_df.iloc[0]
# Transformando primeira linha no cabeçalho
faturamento_df.columns = cabeçalho
# Excluindo primeira linha
faturamento_df = faturamento_df.drop(0, axis=0) # .drop(indice, linha)
# Convertendo variável da coluna valores para float
faturamento_df['Valor'] = faturamento_df['Valor'].astype(float)

faturamento_df.info()
displayhook(faturamento_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 1 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mês     12 non-null     object
 1   Valor   12 non-null     float64
dtypes: float64(1), object(1)
memory usage: 324.0+ bytes

0         Mês     Valor
1     Janeiro  95141.98
2   Fevereiro  95425.16
3       Março  89716.31
4       Abril  78459.99
5        Maio  71087.28
6       Junho  83911.06
7       Julho  56467.26
8      Agosto  88513.58
9    Setembro  66552.49
10    Outubro  80164.07
11   Novembro  66964.33
12   Dezembro  71525.25

In [4]:
# Lucro Presumido
# lucroPres_percentual = float(input('Porcentagem de Lucro Presumido: '))

lucroPres_percentual = 0.025  # 2,5%

# Impostos Mensais
# iss/icms = float(input('Porcentagem ISS/ICMS: '))

iss_icms = 0.023 # 2,3%
pis = 0.0065 # valor fixo
cofins = 0.03 # valor fixo

# Impostos Trimestrais
irpj = 0.15
csll = 0.09

In [30]:
# Função de calculo
def impostos_calcular(valor_mensal, valor_tri):
   lucroPresumido_Men = valor_mensal * lucroPres_percentual
   lucroPresumido_Tri = valor_tri * lucroPres_percentual

   iss_icms_valor = lucroPresumido_Men * iss_icms
   pis_valor = lucroPresumido_Men * pis
   cofins_valor = lucroPresumido_Men * cofins

   if lucroPresumido_Men > 20000:
     irpj_adicional = (lucroPresumido_Men - 20000) * 0.1
     irpj_valor = (lucroPresumido_Tri * irpj) + irpj_adicional
   else :
      irpj_valor = lucroPresumido_Tri * irpj

   csll_valor = lucroPresumido_Tri * csll

   lucroPresumido_Men = f'{lucroPresumido_Men:.2f}'
   lucroPresumido_Tri = f'{lucroPresumido_Tri}'
   iss_icms_valor = f'{iss_icms_valor:.2f}'
   pis_valor = f'{pis_valor:.2f}'
   cofins_valor = f'{cofins_valor:.2f}'
   irpj_valor = f'{irpj_valor:.2f}'
   csll_valor = f'{csll_valor:.2f}'

   return lucroPresumido_Men, lucroPresumido_Tri, iss_icms_valor, pis_valor, cofins_valor, irpj_valor, csll_valor

# listas para os resultados dos calculos
lucroPresumido_Mensal = []
lucroPresumido_Trimestral = []
iss_icms_aoMes = []
pis_aoMes = []
cofins_aoMes = []
irpj_trimestre = []
csll_trimestre = []

# Pegando valores do df, aplicando calculo e jogando o resultado na lista
# Para valores Mensais
for valor in faturamento_df['Valor']:
   impostoMensal_calculo = impostos_calcular(valor, 0)
   lucroPresumido_Mensal.append(impostoMensal_calculo[0])
   iss_icms_aoMes.append(impostoMensal_calculo[2])
   pis_aoMes.append(impostoMensal_calculo[3])
   cofins_aoMes.append(impostoMensal_calculo[4])

# Separando cada trimestre em uma variável e formatando resultado da soma
trimestre1 = sum(faturamento_df['Valor'][:3])
trimestre1 = f'{trimestre1:.2f}'
trimestre2 = sum(faturamento_df['Valor'][3:6])
trimestre2 = f'{trimestre2:.2f}'
trimestre3 = sum(faturamento_df['Valor'][6:9])
trimestre3 = f'{trimestre3:.2f}'
trimestre4 = sum(faturamento_df['Valor'][9:12])
trimestre4 = f'{trimestre4:.2f}'

# lista para os resultados dos trismestres 
trimestre_valores = [float(trimestre1), float(trimestre2), float(trimestre3), float(trimestre4)]


# Pegando valores do df, aplicando calculo e jogando o resultado na lista
# Para valores Trimestrais
for valor in trimestre_valores:
   impostoTri_calculo = impostos_calcular(0, valor)
   lucroPresumido_Trimestral.append(impostoTri_calculo[1])
   irpj_trimestre.append(impostoTri_calculo[5])
   csll_trimestre.append(impostoTri_calculo[6])

print('LucroPres Mensal: ', lucroPresumido_Mensal)
print('ISS/ICMS: ' ,iss_icms_aoMes)
print('Pis: ', pis_aoMes)
print('Cofins: ', cofins_aoMes)
print('-'*100)
print('LucroPres Trimestral: ' ,lucroPresumido_Trimestral)
print('IRPJ: ' ,irpj_trimestre)
print('CSLL: ', csll_trimestre)


# teste = impostos_calcular(100 , 1000)
# print(teste)

LucroPres Mensal:  ['2378.55', '2385.63', '2242.91', '1961.50', '1777.18', '2097.78', '1411.68', '2212.84', '1663.81', '2004.10', '1674.11', '1788.13']
ISS/ICMS:  ['54.71', '54.87', '51.59', '45.11', '40.88', '48.25', '32.47', '50.90', '38.27', '46.09', '38.50', '41.13']
Pis:  ['15.46', '15.51', '14.58', '12.75', '11.55', '13.64', '9.18', '14.38', '10.81', '13.03', '10.88', '11.62']
Cofins:  ['71.36', '71.57', '67.29', '58.84', '53.32', '62.93', '42.35', '66.39', '49.91', '60.12', '50.22', '53.64']
----------------------------------------------------------------------------------------------------
LucroPres Trimestral:  ['7007.08625', '5836.45825', '5288.33325', '5466.34125']
IRPJ:  ['1051.06', '875.47', '793.25', '819.95']
CSLL:  ['630.64', '525.28', '475.95', '491.97']

In [18]:
teste = impostos_calcular(0, 100)
print(teste[1])

2.5