## Lucro Presumido

In [3]:
from sys import displayhook
import pandas as pd

# Transformando arquivo em um dataframe
faturamento_df = pd.read_excel(r'Arquivos\Faturamento2022.xlsx')
# Selecionando primeira linha
cabeçalho = faturamento_df.iloc[0]
# Transformando primeira linha no cabeçalho
faturamento_df.columns = cabeçalho
# Excluindo primeira linha
faturamento_df = faturamento_df.drop(0, axis=0) # .drop(indice, linha)
# Convertendo variável da coluna valores para float
faturamento_df['Valor'] = faturamento_df['Valor'].astype(float)

faturamento_df.info()
displayhook(faturamento_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 1 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mês     12 non-null     object
 1   Valor   12 non-null     float64
dtypes: float64(1), object(1)
memory usage: 324.0+ bytes

0         Mês     Valor
1     Janeiro  95141.98
2   Fevereiro  95425.16
3       Março  89716.31
4       Abril  78459.99
5        Maio  71087.28
6       Junho  83911.06
7       Julho  56467.26
8      Agosto  88513.58
9    Setembro  66552.49
10    Outubro  80164.07
11   Novembro  66964.33
12   Dezembro  71525.25

In [43]:
# Lucro Presumido

lucroPres_percentual = float(input('Lucro Presumido(%): '))
# lucroPres_percentual = 0.025  # 2,5%

# Impostos Mensais

iss_icms = float(input('ISS/ICMS(%): '))
# iss_icms = 0.023 # 2,3%
pis = 0.0065 # valor fixo
cofins = 0.03 # valor fixo

# Impostos Trimestrais
irpj = float(input('IRPJ(%): '))
# irpj = 0.15
csll = float(input('CSLL(%): '))
# csll = 0.09

In [46]:
# Função de calculo
def impostos_calcular(valor_mensal, valor_tri):
   lucroPresumido_Men = valor_mensal * lucroPres_percentual
   lucroPresumido_Tri = valor_tri * lucroPres_percentual

   iss_icms_valor = lucroPresumido_Men * iss_icms
   pis_valor = lucroPresumido_Men * pis
   cofins_valor = lucroPresumido_Men * cofins

   if lucroPresumido_Men > 20000:
     irpj_adicional = (lucroPresumido_Men - 20000) * 0.1
     irpj_valor = (lucroPresumido_Tri * irpj) + irpj_adicional
   else :
      irpj_valor = lucroPresumido_Tri * irpj

   csll_valor = lucroPresumido_Tri * csll

   lucroPresumido_Men = f'{lucroPresumido_Men:.2f}'
   lucroPresumido_Tri = f'{lucroPresumido_Tri:.2f}'
   iss_icms_valor = f'{iss_icms_valor:.2f}'
   pis_valor = f'{pis_valor:.2f}'
   cofins_valor = f'{cofins_valor:.2f}'
   irpj_valor = f'{irpj_valor:.2f}'
   csll_valor = f'{csll_valor:.2f}'

   return lucroPresumido_Men, lucroPresumido_Tri, iss_icms_valor, pis_valor, cofins_valor, irpj_valor, csll_valor

# listas para os resultados dos calculos
lucroPresumido_Mensal = []
lucroPresumido_Trimestral = []
iss_icms_aoMes = []
pis_aoMes = []
cofins_aoMes = []
irpj_trimestre = []
csll_trimestre = []

# Pegando valores do df, aplicando calculo e jogando o resultado na lista
# Para valores Mensais
for valor in faturamento_df['Valor']:
   impostoMensal_calculo = impostos_calcular(valor, 0)
   lucroPresumido_Mensal.append(impostoMensal_calculo[0])
   iss_icms_aoMes.append(impostoMensal_calculo[2])
   pis_aoMes.append(impostoMensal_calculo[3])
   cofins_aoMes.append(impostoMensal_calculo[4])

# Separando cada trimestre em uma variável e formatando resultado da soma
trimestre1 = sum(faturamento_df['Valor'][:3])
trimestre2 = sum(faturamento_df['Valor'][3:6])
trimestre3 = sum(faturamento_df['Valor'][6:9])
trimestre4 = sum(faturamento_df['Valor'][9:12])


# lista para os resultados dos trismestres 
trimestre_valores = [trimestre1, trimestre2, trimestre3, trimestre4]


# Pegando valores do df, aplicando calculo e jogando o resultado na lista
# Para valores Trimestrais
for valor in trimestre_valores:
   impostoTri_calculo = impostos_calcular(0, valor)
   lucroPresumido_Trimestral.append(impostoTri_calculo[1])
   irpj_trimestre.append(impostoTri_calculo[5])
   csll_trimestre.append(impostoTri_calculo[6])

# Criando dict para resultados mensais
dic_Mensal = {
   'Meses':  ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'], 'LucroPres Mensal': lucroPresumido_Mensal, 'ISS/ICMS': iss_icms_aoMes, 'Pis': pis_aoMes, 'Cofins': cofins_aoMes
}
# Transformando em df
df_Mensal = pd.DataFrame(dic_Mensal)
displayhook(df_Mensal)

print('-'*100)

# Criando dict para resultados trimestrais
dic_Trimestral = {
   'Trimestres': ['Jan/Fev/Mar', 'Abr/Mai/Jun', 'Jul/Ago/Set', 'Out/Nov/Dez'],'LucroPres Trimestral': lucroPresumido_Trimestral , 'IRPJ': irpj_trimestre , 'CSLL': csll_trimestre
}
# Transformando em df
df_Trimestral = pd.DataFrame(dic_Trimestral)
displayhook(df_Trimestral)

   Meses LucroPres Mensal ISS/ICMS    Pis Cofins
0    Jan          2568.83   115.60  16.70  77.07
1    Fev          2576.48   115.94  16.75  77.29
2    Mar          2422.34   109.01  15.75  72.67
3    Abr          2118.42    95.33  13.77  63.55
4    Mai          1919.36    86.37  12.48  57.58
5    Jun          2265.60   101.95  14.73  67.97
6    Jul          1524.62    68.61   9.91  45.74
7    Ago          2389.87   107.54  15.53  71.70
8    Set          1796.92    80.86  11.68  53.91
9    Out          2164.43    97.40  14.07  64.93
10   Nov          1808.04    81.36  11.75  54.24
11   Dez          1931.18    86.90  12.55  57.94

----------------------------------------------------------------------------------------------------

    Trimestres LucroPres Trimestral    IRPJ    CSLL
0  Jan/Fez/Mar              7567.65  908.12  983.79
1  Abr/Mai/Jun              6303.37  756.40  819.44
2  Jul/Ago/Set              5711.40  685.37  742.48
3  Out/Nov/Dez              5903.65  708.44  767.47

## MEI